/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
    --accent-font: "PressStart2P-Regular", monospace;
    --main-font: "Inter-Variable", sans-serif;
    --accent-font-size: 14px;
    --main-font-size: 18px;
    --font-weight-light-title: 700;
    --font-weight-dark-title: 785;
    --font-weight-light: 400;
    --font-weight-dark: 465;
    --accent-color: black;
    --background-image: 
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient( 90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient( #e7e7e7 0.01%, #1a1a1a);
    --background-color: rgba(255, 255, 255, 1);
}